html, body {
	width: 100%;
	height: 100%;
	font-family: "Oswald" "Droid Sans";
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #03351a;
	font-family: verdana;
}

header {
	position: fixed;
	top: 0;
	background-color: white;
	padding: 5px;
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid grey;
	padding-bottom: 0;
	box-shadow: 2px 2px 3px grey;
}

header > ul {
	display: flex;
	margin-bottom: 0;
	justify-content: space-around;
	overflow-x: auto;
	list-style: none;
	min-width: 100%;
	padding: 0;
}

header > ul > li {
	padding: 10px;
	padding-bottom: 0;
}

header > ul > li > a, .menu a{
	text-decoration: none;
	color: #3f2c61;
	font-family: cursive;
}
header h3 {
	font: 400 1.4em helvetica verdana segoe;
	margin-left: 3em;
}

header > ul::-webkit-scrollbar {
	display: none;
}

.active {
	border-bottom: 2px solid blue;
}

.hide {
	display: none;
	transition: all ease-in 2s;
}

.menu-bar {
	position: fixed;
	background-color: white;
	border: 1px solid #3f2c61;;
	padding: 5px;
	border-radius: 50%;
	top: 12px;
	display: inline;
}

.menu-bar + * {
	display: inline;
}

.menu-bar div {
	height: 1.75pt;
	width: .98em;
	margin: 2px;
	background-color: black;
	transition: all ease-in 0.5s;
}

.menu {
	position: fixed;
	top: 3em;
	left: 0;
	height: 100%;
	width: 70%;
	background-color: rgba(0, 0, 0, 1.0);
	transition: display ease-in 2s;
}

.menu ul {
	list-style: none;
	padding-left: inherit;
}

.menu a {
	padding: 10px;
}
.menu li {
	padding: 10px;
	border-bottom: 1px solid white;
	margin-left: 0;
}

.menu input, .menu button{
	border: 1px solid transparent;
	font: 300 .956em "Droid Sans";
	outline: thin;
	border-radius: 4px;
	height: 1.05em;
	padding: 6px;
}

.menu button {
	height: 2em;
	background-color: #3f2c61;

}

.search {
	margin-top: .88em;
	text-align: center;
}
.rotate {
	transform: rotate(-45deg) translate(-4px, 3px);
	transition: transform ease-in 0.4s;
}

.rotate-re {
	transform: rotate(45deg) translate(-4px, -2px);
	transition: transform ease-in 0.4s;
}

.fade {
	opacity: 0;
}

main {
	display: flex;
	margin-top: 6em;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section {
	width: 90%;
	font: 350 .93em "Droid Sans";
	box-shadow: 2px 2px 3px grey, -2px -2px 2px grey;
	border-radius: 4px;
	display: flex;
	border: 1px solid grey;
}

section a {
	text-decoration: none;
	font-family: inherit;
	color: #3f2c61;
}

section.main {
	width: 100%;
	flex-direction: column;
	height: 10rem;
	margin-bottom: 15px;
	text-align: center;
}

section.main img {
	height: 65%;
}

section.main p {

}

section.stories {
	height: 5.5em;
	align-items: flex-start;
	margin-bottom: 10px;
}

section.stories > img {
	height: 100%;
	width: 25%;
	float: left;
	margin-right: 4px;
}

section.stories p{
	font: 350 .93em helvetica;
}


.preloader {
	width: 5em;
	height: 4em;
	border: 4px solid grey;
	margin-top: 40px;
	border-left: solid blue;
	border-radius: 50%;
	animation: rotate linear 2s infinite;
}

@keyframes rotate {
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}